<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Perfil</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" th:href="@{/css/global.css}" />
  </head>

  <body>
    <header class="p-3 mb-3 border-bottom">
      <div class="container">
        <div
          class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
        >
          <a
            href="/"
            class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none border-end"
          >
            <svg
              class="bi me-2"
              width="40"
              height="32"
              role="img"
              aria-label="Bootstrap"
            >
              <use xlink:href="#bootstrap"></use>
            </svg>
          </a>

          <ul
            class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 ps-3"
          >
            <li><a th:href="@{/}" class="nav-link px-2">Inicio</a></li>
            <li><a th:href="@{/chat/mensajes}" class="nav-link px-2">Mensajes</a></li>
            <li><a th:href="@{/chat/chat-grupal}" class="nav-link px-2">Chat Grupal</a></li>
          </ul>

          <div class="dropdown text-end">
            <a
              href="#"
              class="d-block link-dark text-decoration-none dropdown-toggle"
              id="dropdownUser1"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <img
                src="https://github.com/mdo.png"
                alt="mdo"
                class="rounded-circle"
                width="32"
                height="32"
                id="fotoPerfilHeader"
              />
            </a>
            <ul
              class="dropdown-menu text-small"
              aria-labelledby="dropdownUser1"
            >
              <li><a class="dropdown-item" th:href="@{/Perfil/}">Perfil</a></li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li sec:authorize="isAuthenticated()">
                <a th:href="@{/logout}" class="dropdown-item">Cerrar sesión</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <main>
      <section class="h-100 gradient-custom-2">
        <div class="container py-5 h-100">
          <div
            class="row d-flex justify-content-center align-items-center h-100"
          >
            <div class="col col-lg-9 col-xl-7">
              <div class="card">
                <div
                  class="rounded-top text-white d-flex flex-row"
                  style="background-color: #000; height: 200px"
                >
                  <div
                    class="ms-4 mt-5 d-flex flex-column"
                    style="width: 150px"
                  >
                    <img
                      src=""
                      alt="Perfil"
                      class="img-fluid mt-4 mb-2 rounded-circle"
                      style="width: 150px; z-index: 1"
                      id="fotoPerfil"
                    />
                    <button
                      type="button"
                      class="btn btn-outline-dark"
                      style="z-index: 1"
                      data-bs-toggle="modal" data-bs-target="#modalActualizar"
                    >
                      Editar Perfil
                    </button>
                  </div>
                  <div class="ms-3" style="margin-top: 130px">
                    <h5 id="nombre"></h5>
                    <p id="generoPerfil"></p>
                  </div>
                </div>
                <div class="p-4 text-black" style="background-color: #f8f9fa">
                  <div class="d-flex justify-content-end text-center py-1">
                    <div>
                      <p class="small text-muted mb-0">Fecha de nacimiento</p>
                      <p class="mb-1 text-end" id="nacimiento"></p>
                    </div>
                  </div>
                </div>
                <div class="card-body p-4 text-black">
                  <div
                    class="d-flex justify-content-between align-items-center mb-4"
                  >
                    <p class="lead fw-normal mb-0">Publicaciones recientes</p>
                  </div>
                  <div id="container__card">
                  </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <!-- Modal -->
    <div
      class="modal fade"
      id="modalActualizar"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header bg-primary">
            <h5 class="modal-title text-white" id="exampleModalLabel">Actualizar datos</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form id="actualizarDatos">
                <div class="form-group">
                    <label for="text_nombre" class="form-label">Nombre:</label>
                    <input type="text" name="nombre" id="text_nombre" class="form-control">
                </div>
                <div class="form-group">
                    <label for="text_apellidos" class="form-label">Apellidos:</label>
                    <input type="text" name="apellidos" id="text_apellidos" class="form-control">
                </div>
                <div class="form-group">
                    <label for="text_nacimiento" class="form-label">Fecha de nacimiento:</label>
                    <input type="date" name="text_nacimiento" id="text_nacimiento" class="form-control">
                </div>
                <div class="form-group">
                    <label for="genero" class="form-label">Genero:</label>
                    <select id="text_genero" class="form-select">
                        <option value="null">Seleciona tu genero</option>
                        <option value="Hombre">Hombre</option>
                        <option value="Mujer">Mujer</option>
                    </select>
                </div> 
                <div class="form-group">
                    <label for="img_perfil" class="form-label">Foto de perfil:</label>
                    <input type="file" name="img_perfil" id="img_perfil" class="form-control">
                </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cerrar
            </button>
            <button type="submit" class="btn btn-primary" form="actualizarDatos">Guardar cambios</button>
          </div>
        </div>
      </div>
    </div>

    <span
      sec:authentication="principal.username"
      id="user"
      class="d-none"
    ></span>

    <script th:src="@{/js/perfile.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </body>
</html>
